body {
    display: flex;
    flex-direction: column;
    position: relative;
}

.header {
    background-color: #778da9;
}

.topnav {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #0d1b2a;
    border-radius: 5px;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}


.topnav a:hover {
    background-color: #415a77;
    color: #e0e1dd;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.topnav-right {
    float: right;
}

#main {
    background-color: #778da9;
}

#content {
    align-content: center;
    background: #415a77;
    color: #d8d8d8;
}

.footer {
    display: flex;
    flex-direction: column;
    background-color: #0d1b2a;
}

table {
    border-spacing: 1em;
}

.footerHeader {
    text-align: center;
    color: #f2f2f2;
    font-size: 18px;
    font-weight: bold;
}

.footerData {
    text-align: center;
    font-size: 16px;
}

.footer a {
    color: #b6b6b6;
    text-decoration: none;
}